
<div class="card-info-window">
  <%= link_to business_path(business), class:"all-content-link" do %>
    <div class="content-info-window">
      <h3><%= business.name %></h3>
      <p><%= business.address.split(",", 2).map {|split| "#{split}" }.first %></p>
      <%# <p><%= business.cards.where(user_id: current_user.id).point %></p> %>
  <p><%= business.cards.find_by(user_id: current_user.id) ? business.cards.find_by(user_id: current_user.id).points : "0" %>/<%= business.reward_mechanism.counter %></p>




    </div>
    <% if business.photo.key.nil? %>
      <%= cl_image_tag("i9i2cfvj6deun9x23yvc3av45knv",
      width: 200, height: 150, crop: :fill, class: "business-card-image-img") %>
    <% else %>
      <%= cl_image_tag(business.photo.key,
      width: 200, height: 150, crop: :fill, class: "business-card-image-img") %>
    <% end %>
  <% end %>
</div>
