<h1>Edit your business profile</h1>

<div class="container-form-edit">
  <%= simple_form_for [ @business ] do |f| %>
    <div class="create-business-form">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.association :category, label_method: :category %>
      <%= f.input :host_names %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create my business", class: "new-business-btn" %>
    </div>
  <% end %>
</div>
