<h2 class="chat-title">Chat with <%= @messageroom.business.name %></h2>
<div class="chat-border" id="messages" data-messageroom-id="<%= @messageroom.id %>">
  <% @messageroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
  <% end %>
</div>

<div class="input-chat-box">
  <%= simple_form_for [ @messageroom, @message ], remote: true do |f| %>
    <%= f.input :content,
    label: false,
    placeholder: "Type here" %>
  <% end %>
    <%# <%= text_field_tag: content, params [:content], class: 'form-control fa', placeholder: "\ uF002" %>
</div>
