<div class='navbar d-inline-flex justify-content-end'>
  <% if current_user != nil %>
    <% if current_user.business_ids != [] %>
      <div class="navbar-business-link">
        <%= link_to 'My businesses', my_businesses_businesses_path %>
      </div>
    <% end%>
  <% end %>
  <div class='oy-logo'>
    <div class="nav-item dropdown">
      <img id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= <%= image_path("logo-menu.svg")%>  alt="logo Oy">
      <div class="dropdown-menu dropdown-menu-end move-left" aria-labelledby="navbarDropdown">
        <%= link_to 'Home', root_path, class:"dropdown-item home" %>
        <%= link_to 'Wallet', cards_path, class:"dropdown-item wallet" %>
        <%= link_to 'Map', businesses_path, class:"dropdown-item map" %>
        <%= link_to 'Feed', posts_path, class:"dropdown-item feed" %>
        <%= link_to new_business_path, class:"dropdown-item add-a-business" do %>
          <h2 class="font-color-black">Add a <br> business</h2>
        <% end %>
      </div>
    </div>
  </div>
</div>
