

<%# <div class='fixed-background'>
</div> %>

<div class="home-page-header">
  <h2 class="home-page-header">Buy local, Meet people, Earn rewards, Smile.</h1>
</div>
<div class="home-page-banner d-flex">
  <div class="home-page-banner-section section-one">
    <%= cl_image_tag("i9i2cfvj6deun9x23yvc3av45knv",
    style:'height:12rem;width:100%;object-fit:cover;', class: "home-page-image-img") %>
    <h1 class="home-page-banner">Oy</h1>
  </div>
  <div class="home-page-banner-section section-two">
    <%= cl_image_tag("i9i2cfvj6deun9x23yvc3av45knv",
    style:'height:20rem;width:100%;object-fit:cover;', class: "home-page-image-img") %>
  </div>
</div>
<div class="home-page-navigation d-flex justify-content-center">
  <ul class="home-page-navigation-buttons-list">
    <li class="home-page-navigation-button">
      <button class="directions-btn btn">
        <%= link_to "wallet", cards_path %>
      </button>
    </li>
    <li class="home-page-navigation-button">
      <button class="directions-btn btn">
        <%= link_to "map", businesses_path %>
      </button>
    </li>
    <li class="home-page-navigation-button">
      <button class="directions-btn btn">
        <%= link_to "feed", posts_path %>
      </button>
    </li>
  </ul>
</div>
<div class="home-page-content">
  <div class="home-page-mission-statement">
    <p class="mission-statement">Local busineses are at the core of our society.</p>
    <p class="mission-statement">Our mission is to support our community and empower people to consume responsibly and sustainbly.</p>
  </div>
  <div class="wallet-description app-description d-flex">
    <div class="wallet-description-content">
      <div class="description-content-header">
        <p class="description-content-header">All of your favourites, in one place</p>
      </div>
      <div class="description-content-body">
        <p class="description-content-body">Keep all of your loyalty cards in one place.</p>
        <p class="description-content-body">Be rewarded for supporting your favourite local businesses</p>
      </div>
    </div>
    <div class="wallet-description-image">
      <%= cl_image_tag("i9i2cfvj6deun9x23yvc3av45knv",
    style:'height:338px;width:169px;object-fit:cover;', class: "description-image-img") %>
    </div>
  </div>
  <div class="wallet-description-button description-button d-flex justify-content-center">
    <button class="directions-btn btn">
      <%= link_to "wallet", cards_path %>
    </button>
  </div>
  <div class="map-description app-description d-flex">
    <div class="map-description-image">
      <%= cl_image_tag("i9i2cfvj6deun9x23yvc3av45knv",
    style:'height:338px;width:169px;object-fit:cover;', class: "description-image-img") %>
    </div>
    <div class="map-description-content ml-2">
      <div class="description-content-header">
        <p class="description-content-header">Find new shops in your area</p>
      </div>
      <div class="description-content-body">
        <p class="description-content-body">Discover businesses, meet new people,  support local producers and get rewarded</p>
      </div>
    </div>
  </div>
  <div class="wallet-description-button description-button d-flex justify-content-center">
    <button class="directions-btn btn">
      <%= link_to "map", businesses_path %>
    </button>
  </div>
  <div class="feed-description app-description d-flex">
    <div class="feed-description-content">
      <div class="description-content-header">
        <p class="description-content-header">Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div class="description-content-body">
        <p class="description-content-body">Lorem ipsum dolor sit amet consectetur</p>
      </div>
    </div>
    <div class="feed-description-image">
      <%= cl_image_tag("i9i2cfvj6deun9x23yvc3av45knv",
    style:'height:338px;width:169px;object-fit:cover;', class: "description-image-img") %>
    </div>
  </div>
  <div class="wallet-description-button description-button d-flex justify-content-center">
    <button class="directions-btn btn">
      <%= link_to "feed", posts_path %>
    </button>
  </div>
</div>

<div class='page'>
  <div class='first-part'>
    <h1>Buy local, Meet people, Smile.</h1>
  </div>

  <div class='second-part'>
      <h2>
        <li><%= link_to "wallet", cards_path, class: "home-page-link" %></li>
        <li><%= link_to "map", businesses_path, class: "home-page-link" %></li>
        <li><%= link_to "feed", posts_path, class: "home-page-link" %></li>
      </h2>
  </div>
</div>


<div class='page'>
  <div class='third-part'>
    <h2>Oy is an app <br> willing to bring small <br> business’s owners <br> and clients closer. <br>
    Go outside, <br> and try the small <br> coffee you always said you would.
    </h2>
  </div>

  <div class='fourth-part'>
    <h3>Being loyal <br> has never <br> been <br> that easy.</h3>
  </div>
</div>

<div class='page'>
  <div class='fifth-part'>
    <h2>Oy is a 4 learning-developers team who love to eat and exchange with the shopkeepers of the neighborhood. We thought you would like it too.</h2>
  </div>
</div>

<div class='page'>
  <div class='sixth-part'>
    <h2>
      One issue : <br>
      we always forget <br> our fidelity cards <br> at home.
    </h2>
  </div>

  <div class='seventh-part'>
  <h2>
      Go to your wallet, <br> add a fidelity card,<br> and never miss <br> an offer <br> again.Thanks to Oy, <br> you can also <br> discover treasures <br> in your area, <br> wherever you are.
    </h2>
  </div>
</div>
