<div class="cards-wallet d-flex justify-content-center">
  <div class="cards-wallet-filter-index">
    <div class="cards-wallet-filter">
      <%= link_to "Order by points", cards_path(order:'desc') %>
    </div>
    <div class="cards-wallet-index">
      <ul>
        <% @cards.each do |card| %>
          <li class="cards-wallet-index-card cards-wallet-index-card-full col-12 ">
            <div class="wallet-card-title">
              <%= link_to business_path(card) do %>

                <h2><%= card.business.name %></h2>
              <% end %>
            </div>
            <div class="cards-wallet-index-card wallet-card-image">
              <% if business.photo.key.nil? %>
                <%= cl_image_tag("i9i2cfvj6deun9x23yvc3av45knv",
                style:'height:12rem;width:100%;', class: "business-card-image-img") %>
              <% else %>
                <%= cl_image_tag(business.photo.key,
                style:'height:12rem;width:100%;', class: "business-card-image-img") %>
              <% end %>
              <div class="cards-wallet-index-card wallet-card-details col-8 col-md-6">
                <p class="text-shadow"><%= card.points %>/10</p>
                <div class="category-label d-inline-flex">
                  <p><%= card.business.category.category %></p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
