<h1>Create your loyalty card</h1>

<div class="container-form-new">
  <%= simple_form_for [ @business, @reward_mechanism ] do |f| %>
    <div class="create-business-form">
      <%= f.input :counter %>
      <%= f.input :discount %>
      <%= f.input :minimum_purchase %>
      <%= f.submit "Create my card", class: "new-business-btn" %>
    </div>
  <% end %>
</div>
