<!DOCTYPE html>
<html>
  <head>
    <title>Oy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <% if current_page?('/') %>
      <%= yield %>
    <% else %>
      <%= render 'shared/sidebar' %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
    <div class="arrow arrow-container">
      <%= link_to root_path do %>
        <%= image_tag("Vectorarrow", class:"arrow arrow-vector") %>
      <% end %>
    </div>
  </body>
</html>
